


 <section>

<div class="image">

<div style="position:relative; height:0; padding-bottom:56.25%; width:100%"><iframe style="position:absolute; top:0; left:0; width:100%; height:100%;" src="https://media.flixel.com/cinemagraph/tjxtqlakyatqntimcz4h?hd=true&forceGif=true" frameborder="0" allowfullscreen></iframe>



</div>

<h3><span>Head-to-Head gym battle lasting 3 days, 1 week or 1 month.  <br />&nbsp;&nbsp;&nbsp;Check in more than your opponent to win<span class='spacer'></span></h2>

</div>


 </section>

<section>
 <div class="row">

	<!-- BADASS IMAGE -->
 	<div class= "col-md-6" style="">

		<div class="image">



		<img src="https://dyzup8v06s4q5.cloudfront.net/ver/static/images/marketing/homepage-takeovers/tiles/lose-weight-2x.jpg" class="img-responsive">

	<h3><span>&nbsp;&nbsp;&nbsp;&nbsp;When you arrive at your gym open your app<br />&nbsp;&nbsp;&nbsp;&nbsp;Hit check in.<span class='spacer'></span></h2>

	</div>

	</div>

	<!-- JUMBOTRON -->
	<div class= "col-md-6" style="">



		<div class="jumbotron">
  <h1>Ready to compete?</h1>
  <p>Get signed up below...</p>
  <p><a><button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'Sign up', new_user_registration_path %></button></a></p>
</div>

	</div>
</div>
</section>

<section>
 <div class="row">
 	<div class= "col-md-6" style="">

	<div class="jumbotron">
  		<h1>Mobile Friendly</h1>
  		<p>Access on the go.</p>
  		<p></p>
	</div>

	</div>

	<div class= "col-md-6" style="">

		<div class="image">

		<img src="https://dyzup8v06s4q5.cloudfront.net/ver/static/images/marketing/homepage-takeovers/tiles/heart-health-2x.v2.jpg" class="img-responsive">

		<h3><span>Battle with your friends.<br />Reach your goals faster<span class='spacer'></span></h2>

		</div>
	</div>



</div>
</section>
<!-- insert logo row here -->

<!-- insert footer row here -->





