<% content_for :title do %>EVENTS<% end %>


<html>
<head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
    <script>
    $(document).ready(function() {

        //anon oauth token
        var token = 'CTA2H6QRSUW3EKFVLFKA';
        //org id
        // var organizer = '7884030582';

        var $events = $("#events");

        $events.html("<i>Loading events, please stand by...</i>");
        $.get('https://www.eventbriteapi.com/v3/events/search/?token='+token+'&expand=venue', function(res) {
            if(res.events.length) {
                var s = "";
                for(var i=0;i<res.events.length;i++) {
                    var event = res.events[i];
                    var eventTime = moment(event.start.local).format('M/D/YYYY h:mm A');
                    console.dir(event);
                    s += "<div class='eventList'>";
                    s += "<h2><a href='" + event.url + "'>" + event.name.text + "</a></h2>";
                    s += "<p><b>Location: " + event.venue.address.address_1 + "</b><br/>";
                    s += "<p><b>Image: " + event.venue.address.address_1 + "</b><br/>";
                    s += "<b>Date/Time: " + eventTime + "</b></p>";

                    // s += "<p>" + event.description.text + "</p>";
                    s += "</div>";
                }
                $events.html(s);
            } else {
                $events.html("<p>Sorry, there are no upcoming events.</p>");
            }
        });



    });
    </script>
</head>
<body>

<h2 class= "events_h2">Upcoming Events!</h2>
<div id="events"></div>
</body>
</html>