<%# add navigation links to this file %>


<li><%= link_to 'Report Card', page_path('about') %></li>

<li><%= link_to 'Events', page_path('events') %></li>

<li><%= link_to 'LeaderBoards', page_path('leader_board') %></li>

<!-- <li><%= link_to 'SAMPLE', page_path('sample') %></li> -->


